

nav {
  background:  #fff19b;
  height: 10%;
  margin-bottom: 0;
  color: #ddd;
}

.navbar-brand {font-family: 'Amatic SC', cursive; font-size: 50px; color:#299bab; margin-left: 15%;}


.nav-item {font-size: 25px; color:#000;}

#navbarNav {
  background:#fff19b;
  width: 100px;
  padding: 0px;
  opacity: 0.7;
}

#content {
  position: relative;
  height: 200px;
}
#Home-Pic {padding-top:50px;
            height:950px;
            background: url('https://lh3.googleusercontent.com/aPQkUFUR74RhPgvBK_yCDZjpI4e-8dPBBPd6UJFFRDIY-vwO5t15M0aofn74fZ9zWgKuZoG9MGfZZtCP6nT8vFyZ8wlaXqv4gCyB0Dc6By9LR5mRxFevF6K2BBSCTJ0jzTQNhmZCKcvQvU2dzHfi-HBu6MkTakyW9VYy_9f3gN-73CHTLKC7oIe2-5pfJN7XEpfQ5TZYPVnuoQnQgHEZYr_FRdAzflnfbMyt_qR0k3rv-jk2nwG23yl6v_Y1rHgqldn1pJYpZmlo917xWRrMMUkuheS1ZFW3Q3zTYJ-FjIPq3rLns0fOH9lIXYPTM1Pxz7hP81LHYLOqRXA5OUmts7ouAaWubl65v0kuKupqE9P030_iVnIIFig4_bwwMfivhiFuQtgh3sjpbCF8csTEMv6B4DlyDXnsoR0wxb5wBPzoDC-S7rUdY6HBTWoI2vnP_MCPxLigXOKDXWp6d0tGmBD0zWQ3p-pY1qJvEw93g_okrWkgNJhOcWMHAyqYzWvJLLZQKHH_iO6tmbRXeazsUVVkRz3KONyk0oN5Yyw4XS9XSVuqJycNbpaXPjGhGX-8fqc2Znk6Bl3mTtC6lnzX1YdAsteLy5WSD2zyOuGqThUqMJ4-DMyI2YARG5A2jb274CJ1tNMzqAvnz5SMdnhepAHysK-IjKbE5ag1E-UkPw=w1267-h950-no');
            no-repeat center center fixed;
  background-size: cover; text-shadow: 0px 0px 0 rgba(255,255,255,0.5);
}

#Home-Pic h2 {font-family: 'Amatic SC', cursive; font-size: 100px; color: #f6e110 ; display: inline-block; margin:0px; padding: 0; line-height: 90px; margin-left: 15%; margin-top: 100px; }
#Home-Pic hr { width:inherit; background-color: #e3d9ad; margin-left: 0px; }


#Home-Pic h4 {font-family: 'Amatic SC', cursive;
              font-size: 60px; color: #e3d9ad;
              display: inline-block; margin: 0; padding: 0; line-height: 50px; margin-left: 18%; margin-top: 5px;
}

.fa-sun-o {color: #e3d9ad;}
}

#section1 {padding-top:120px;height:900px;color: #000; background-color: #fff;}
#section1 h1 {font-family: 'Open Sans Condensed';
              width: 28%;
}
#section2 {padding-top:200px;height:700px;color: #000; background-color: #fff;
}
#section2 h1 {font-family: 'Open Sans Condensed', sans-serif;
          font-size: 40px; color: #000;
          width: 50%; padding-bottom: 0px;
}
span {font-weight: bold;}


#section3 {padding-top:50px;height:500px;color: #fff;
  background: url('https://lh3.googleusercontent.com/aPQkUFUR74RhPgvBK_yCDZjpI4e-8dPBBPd6UJFFRDIY-vwO5t15M0aofn74fZ9zWgKuZoG9MGfZZtCP6nT8vFyZ8wlaXqv4gCyB0Dc6By9LR5mRxFevF6K2BBSCTJ0jzTQNhmZCKcvQvU2dzHfi-HBu6MkTakyW9VYy_9f3gN-73CHTLKC7oIe2-5pfJN7XEpfQ5TZYPVnuoQnQgHEZYr_FRdAzflnfbMyt_qR0k3rv-jk2nwG23yl6v_Y1rHgqldn1pJYpZmlo917xWRrMMUkuheS1ZFW3Q3zTYJ-FjIPq3rLns0fOH9lIXYPTM1Pxz7hP81LHYLOqRXA5OUmts7ouAaWubl65v0kuKupqE9P030_iVnIIFig4_bwwMfivhiFuQtgh3sjpbCF8csTEMv6B4DlyDXnsoR0wxb5wBPzoDC-S7rUdY6HBTWoI2vnP_MCPxLigXOKDXWp6d0tGmBD0zWQ3p-pY1qJvEw93g_okrWkgNJhOcWMHAyqYzWvJLLZQKHH_iO6tmbRXeazsUVVkRz3KONyk0oN5Yyw4XS9XSVuqJycNbpaXPjGhGX-8fqc2Znk6Bl3mTtC6lnzX1YdAsteLy5WSD2zyOuGqThUqMJ4-DMyI2YARG5A2jb274CJ1tNMzqAvnz5SMdnhepAHysK-IjKbE5ag1E-UkPw=w1267-h950-no')
  no-repeat center center fixed;
  background-size: cover; rgba(255,255,255,0.5);
}
#section3 h1 {font-family: 'Open Sans Condensed';}

p {font-family: 'Open Sans Condensed'; font-size: 20px;}

#website {object-fit: cover;
              width:250px;
              height:250px;
}

a {color: hotpink;}

i {font-size:60px;color: #fff; margin: 5px 2px 2px 2px;}

footer {background: #fff; margin: 0px; padding: 0px}



/*tablet and smaller screens*/
@media screen and (max-width: 568px) {
  nav {background:  #fff19b; height: 10%; margin-bottom: 0;
      color: #ddd;
  }

  .navbar-brand {font-family: 'Amatic SC', cursive; font-size: 30px; color:#299bab; margin-left: 20%;}


  .nav-item {font-size: 25px; color:#000;}

  #navbarNav {background:#fff19b; width: 100px; padding: 0px; opacity: 0.7;}
  /

  #content {position: relative;
      height: 200px;
      overflow-y: scroll;
  }
  #Home-Pic {padding-top:50px;
              height:950px;
              background: url('https://lh3.googleusercontent.com/aPQkUFUR74RhPgvBK_yCDZjpI4e-8dPBBPd6UJFFRDIY-vwO5t15M0aofn74fZ9zWgKuZoG9MGfZZtCP6nT8vFyZ8wlaXqv4gCyB0Dc6By9LR5mRxFevF6K2BBSCTJ0jzTQNhmZCKcvQvU2dzHfi-HBu6MkTakyW9VYy_9f3gN-73CHTLKC7oIe2-5pfJN7XEpfQ5TZYPVnuoQnQgHEZYr_FRdAzflnfbMyt_qR0k3rv-jk2nwG23yl6v_Y1rHgqldn1pJYpZmlo917xWRrMMUkuheS1ZFW3Q3zTYJ-FjIPq3rLns0fOH9lIXYPTM1Pxz7hP81LHYLOqRXA5OUmts7ouAaWubl65v0kuKupqE9P030_iVnIIFig4_bwwMfivhiFuQtgh3sjpbCF8csTEMv6B4DlyDXnsoR0wxb5wBPzoDC-S7rUdY6HBTWoI2vnP_MCPxLigXOKDXWp6d0tGmBD0zWQ3p-pY1qJvEw93g_okrWkgNJhOcWMHAyqYzWvJLLZQKHH_iO6tmbRXeazsUVVkRz3KONyk0oN5Yyw4XS9XSVuqJycNbpaXPjGhGX-8fqc2Znk6Bl3mTtC6lnzX1YdAsteLy5WSD2zyOuGqThUqMJ4-DMyI2YARG5A2jb274CJ1tNMzqAvnz5SMdnhepAHysK-IjKbE5ag1E-UkPw=w1267-h950-no');
              no-repeat center center fixed;
    background-size: cover;
  }

  #Home-Pic h2 {font-family: 'Amatic SC', cursive; font-size: 70px; color: #f6e110 ; display: inline-block; margin:0px; padding: 0; line-height: 90px; margin-left: 15%; margin-top: 100px; }
  #Home-Pic hr { width:inherit; background-color: #e3d9ad; margin-left: 0px; }


  #Home-Pic h4 {font-family: 'Amatic SC', cursive;
                font-size: 40px; color: #e3d9ad;
                display: inline-block; margin: 0; padding: 0; line-height: 50px; margin-left: 18%; margin-top: 5px;
  }
  .fa-sun-o {color: #e3d9ad;}
  }
  #section1 {padding-top:15%;height:800px;color: #000; background-color: #fff;}
  #section1 h1 {font-family: 'Open Sans Condensed';
                width: 28%; font-size: 40px;
  }
  #section2 {padding-top:20%;height:700px;color: #000; background-color: #fff;
  }
  #section2 h1 {font-family: 'Open Sans Condensed', sans-serif;
            font-size: 40px; color: #000;
            width: 50%; padding-bottom: 0px;
  }
  span {font-weight: bold;}


  #section3 {padding-top:50px;height:500px;color: #fff;
    background: url('https://lh3.googleusercontent.com/Cr9CZ8_WmiHaxjE6P8vCgv4ZICQ78nBkWvc3uoEJ6hPAXF82ZkG_0MWyKlOvwdo5oRpJ0kC3CKcseqQyM_TVxqIGlKfLB4PeKs6GzhFPLkf-i3WnN6KFcvLr7ssHmKiMTqwUzFID4Ntl2fxQOoEMmK7XKucTxvNYhSrpXTHj0bBidUp-NFYjE_WtzB-RcEFbYiU_YYq1yiLXzSCFHyBKaq3OJfBmHQMRPkAHRQruTbLYN5ICwll3BEkBgKzgfbZJt46kkJajs4bmyVevdKCkvrOx_i2hw8xbgb4sOSQE-KlEf9d6w23fRSOqRrKYZ-IW_kJjY0k5lRmISnrhWAr0l-YHw4IRzABGPafDSkMaEB53hD-ueYVQRVGheBBYpgy-Hq6cSMuynFoBZxGBweV8oiZBt7bauw0ZvNox1Z6NavszvBvDr6JUp67zqsK6kBfXAM_-A1cXBU-tpm75165vNwX7BuU042GNzztxgzYTtwkD_neJiBVDmYUeIIwsRn7xdc-CJycdyKgnz_HA1LaWQL8wC3nMVXEmsXBoa9KIw9i65TEXhRvWS8P77okluE3eLXOaPosP-qzBLmZtZvuOKNUEN4QYTYvDuRslVJn23oJYmrkii_dySs7dRN1kHaZwWMoVNcvl6T3AsFuet5iY1MJ_k2RZjuj71eeZconeOw=w1342-h578-no');
    no-repeat center center fixed;
    background-size: cover; rgba(255,255,255,0.5);
  }
  #section3 h1 {font-family: 'Open Sans Condensed'; font-size: 40px}

  p {font-family: 'Open Sans Condensed'; font-size: 20px;}

  #website {object-fit: cover;
                width:250px;
                height:250px;
  }

  a {color: hotpink;}

  i {font-size:40px;color: #fff; margin: 5px 2px 2px 2px;}

  footer {background: #fff; margin: 0px; padding: 0px}
}
